.feedback-from-bg {
}

.bouquet-decoration {
  width: 90%;
  height: max-content;
  overflow: hidden;
  margin: 0 auto;
}

.bouquet-decoration.reverse {
  margin-top: 15px;
  transform: rotateX(-180deg);
}

.bouquet {
  max-width: 100%;
  height: auto;
}

.feedback-form-title {
  color: white;
  text-align: center;
  font-size: 2em;
  width: 90%;
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
}

.feedback-form-description {
  font-family: 'Playfair Display', serif;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  width: 90%;
}

.text-field {
  color: red;
}

.text-field .MuiFormLabel-root.Mui-focused{
  color: #000000;
}

.text-field .MuiInputBase-root.Mui-focused {
  color: #000000;
}

.text-field .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #000000;
}

.feedback-form-input-radio {
  max-width: 90%;
  font-size: 1em;
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.feedback-form-input-radio .MuiRadio-root.Mui-checked {
  color: unset;
}

.feedback-form-sended {
  font-size: 1.5em;
  text-align: center;
  color: green;
  font-family: 'Playfair Display', serif;
  width: 80%;
  margin: 0 auto;
}

.feedback-form-validation {
  color: red;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  width: 80%;
  margin: 0 auto;
}

.feedback-form-send-input {
  text-align: center;
  margin-top: 0.5em;
}

.feedback-form-send-input .MuiButton-root:hover {
  border-color: inherit;
  background-color: unset;
}

.feedback-form-term-is-over {
  width: 80%;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 1vh auto 0;
  font-size: 1.2em;
  color: white;
}
