.second-section-bg {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 2vh;
}

.second-section-photos {
    padding: 5vh 5vh 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: max-content;

}

.second-section-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}