.second-section-bg {

}

.second-section-photos {
    padding: 0 5vh 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: max-content;

}

.second-section-photo {
    max-width: 100%;
    height: auto;
    /*border-radius: 10px;*/
}

.second-section-invite {
    color: white;
    font-size: 1.5em;
    padding: 2vh;
    text-align: center;
    font-family: 'Marck Script', cursive;
    text-shadow: 1vh 1vw 1vw gray, 1vh 1vh 1vw gray;
}

.second-section-bouquet {
    margin: 0 auto;
    width: 90%;
    height: 7em;
    /*border: 1px solid black;*/
    background: url("../../../src/media/img/buket.png") center center/contain no-repeat;
}

.second-section-invite-title {
    font-size: 2em;
}

.underline {
    width: 100%;
    height: max-content;
}

.underline-img {
    max-width: 100%;
    height: auto;
}