.timer-section-bg {
  font-family: 'Marck Script', cursive;
}

.timer-section-title {
  width: 90%;
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 0 auto;
}

.timer-section-timer-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
}

.timer-section-timer-app {
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 90%;
}

.timer-section-timer {
  font-size: 1.8em;
}

.timer-section-timer-description {
  text-align: center;
}
