.feedback-section-bg {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
    padding-bottom: 2vh;
}

.feedback-section-title {
    text-align: center;
    color: white;
    font-size: 2em;
}

.feedback-section-timer-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
}

.feedback-section-timer-app {
    text-align: center;
    color: white;
}

.feedback-section-timer {
    font-size: 3em;
}

.feedback-section-timer-description {
    text-align: center;
}

@media (max-width: 320px) {
    .feedback-section-title {
        text-align: center;
        color: white;
        font-size: 1.5em;
    }
    .feedback-section-timer {
        font-size: 1.5em;
    }
    .feedback-section-timer-description {
        font-size: 0.7em;
    }
}