.rules-section-bg {
    /*padding: 0 0 5vh;*/
    /*border-bottom: 5px solid rgba(0, 0, 0, 0.3);*/
}

.rules-title {
    color: white;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}

.rules-first {
    font-family: 'Playfair Display', serif;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    width: 90%;
}