.language {
    width: 100%;
    height: 100vh;
}

.language-title {
    color: white;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: 0 auto 3vh;
}

.language-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.languages {
    color: white;
    text-align: center;
    width: 20%;
    height: max-content;
    background: gray;
    border-radius: 20px;
    transition: 0.5s;
    margin: 0 auto 2.5vh;
}

.language-flags {
    max-width: 100%;
    height: auto;
}
