.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    padding: 5vh 0;
}

.footer-maps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-maps-description {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.footer-title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin: 1em;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
    margin-bottom: 1em;
}

.footer-link {
    display: block;
    width: 2em;
    height: 2em;
    padding: 0 3em 0 3em;
}

.footer-icons {
    width: 2em;
    height: 2em;
}

.instagram {
    display: block;
    background: url("../../../src/media/icons/instagram.png") center center/cover no-repeat;
}

.whatsapp {
    display: block;
    background: url("../../../src/media/icons/whatsapp.png") center center/cover no-repeat;
}

.telegram {
    display: block;
    background: url("../../../src/media/icons/telegram.png") center center/cover no-repeat;
}

.footer-maps-icon {
    width: 2em;
    height: 2em;
    margin-left: 1vh;
}

.two-gis {
    display: block;
    background: url("../../../src/media/icons/2gis.png") center center/contain no-repeat;
}

.google-maps {
    display: block;
    background: url("../../../src/media/icons/googlemap.png") center center/contain no-repeat;
}

.yandex-taxi {
    display: block;
    background: url("../../../src/media/icons/yandex.png") center center/contain no-repeat;
}